<!DOCTYPE html>
<html lang="en" ng-app="yourApp">

<head>
  <title>Gumga List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://gumga.github.io/layout/dist/gumga-layout.css">

    <style media="screen">
      body{
        background: #f5f5f5;
      }
      .smart-grid-fixed{
        /*background: #ccc !important;*/
      }
    </style>
</head>

<body ng-controller="manyToOneCtrl" >
  <div class="gumga-layout">
    <form name="Example">
      <br>
      <br>
      <br>

      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default" ng-click="changeColumns('id, name, view')">
              Adicione Ações
            </button>
            <button class="btn btn-default" ng-click="changeColumns('id, name, login')">
              Adicione Login
            </button>
            <br>  <br>
          </div>
        </div>
        <div class="">
          <gumga-list sort="pessoa.methods.sort(field, dir)"
                      data="pessoa.data"
                      configuration="tableConfig"
                      page-size="pessoa.pageSize"
                      page-position="bottom"
                      count="pessoa.count"
                      page-model="page"
                      on-page-change="pessoa.methods.get(page, pageSize)"></gumga-list>
        </div>
      </div>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/gumga-rest-ng/dist/gumga-rest.min.js"></script>
  <script src="../node_modules/gumga-controller-ng/dist/gumga-controller.min.js"></script>
  <script src="../dist/gumga-list.js"></script>

  <script>
    angular.module('yourApp', ['gumga.rest','gumga.controller','gumga.list'])
      .config(function ($httpProvider) {
        $httpProvider.defaults.headers.common['gumgaToken'] = 'eterno'
        // $httpProvider.defaults.headers.common['gumgaToken'] = 'batistakids'
      })
      .controller('manyToOneCtrl', ['GumgaRest','gumgaController','$scope', '$http',
        function (GumgaRest,gumgaController,$scope, $http) {
          var PessoaService = new GumgaRest('https://gumga.io/security-api/api/user');
          // var PessoaService = new GumgaRest('http://192.168.25.250/gileadeweb-api/api/historico');

          gumgaController.createRestMethods($scope, PessoaService, 'pessoa');

          $scope.page = 1;

          $scope.pessoa.methods.get($scope.page);

          $scope.changeColumns = function (teste) {
            $scope.tableConfig.columns = teste
            $scope.tableConfig = angular.copy($scope.tableConfig)
          }

          //fixFooter : {'foot' : true, 'head' : false}
          //fixFooterAndLeft : {'left' : 1, 'foot' : true, 'head' : false}
          //fixFooterAndLeft : {'left' : 1, 'foot' : true, 'head' : false}
          //fixFooterAndRight : {'right' : 1, 'foot' : true, 'head' : false}
          //fixHeadAndLeft : {"left" : 1}
          //fixHeadAndRight : {"right" : 1}
          //fixHeadAndRight : {"right" : 1}
          //fixLeft : {"head" : false, "left" : 1}
          //fixRight : {"head" : false, "right" : 1}
          //fixMultiFooter : {'foot' : true, 'head' : false}
          //fixMultiLeft : {"head" : false, "left" : 2}
          //fixMultiRight : {"head" : false, "right" : 2}5
          $scope.tableConfig = {
            columns: 'id, name, login, view',
            itemsPerPage: [5, 10],
            checkbox: true,
            materialTheme: true,
            fixed: {
              "head" : true
              // "left" : 2
            },
            selection: "multi",
            columnsConfig: [
              {
                name: 'id',
                title: 'Codigo',
                content: '{{$value.id}}',
                sortField: 'id'
              },
              {
                name: 'name',
                title: 'Nome completo',
                content: '{{$value.name}}',
                sortField: 'name'
              },
              {
                name: 'login',
                title: 'E-mail',
                content: '{{$value.login}}',
                sortField: 'login'
              },
              {
                name: 'view',
                title: 'Ações',
                content: ' <span class="pull-right"><a uib-tooltip="View" class="btn btn-primary btn-sm" ui-sref="gumgaController.view({id: $value.id })"><i class="glyphicon glyphicon-eye-open"></i></a></span>'
              }
            ]
          }

        }
      ])
  </script>
</body>
</html>
